{% extends "rm/base.html" %}

{% block title %}Operations{% endblock %}

{% block header%}Operations{% endblock %}

{% block content %}
	<div class="container">
		<div class="form-group" align="left">
			<form action="{% url 'rm:operation_create' %}" method="get">
				<button class="btn btn-success" type="submit">
					<i class="fa fa-plus-circle"></i>
					New operation
				</button>
			</form>
		</div>
		<table class="table table-hover table-condensed" align="center">
			<tr>
				<th>Name</th>
				<th>Trash</th>
				<th>Files</th>
				<th>Create time</th>
			</tr>
			{% for operation in operations %}
				<tr>
					<td><a href="{% url 'rm:operation_detail' operation.pk %}">{{ operation }}</a></td>
					<td><a href="{% url 'rm:trash_detail' operation.trash.pk %}">{{ operation.trash }}</a></td>
					<td>{{ operation.get_files|length }}</td>
					<td>{{ operation.create_time }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}