{% extends "rm/base.html" %}

{% block title %}Dry-run{% endblock %}

{% block header%}Dry-run{% endblock %}

{% block content %}
	<div class="container">
		<table class="table table-hover table-condensed" align="center">
			<tr>
				<th>Files</th>
			</tr>
			{% for file in files %}
				<tr>
					<td>{{ file }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}