{% extends "rm/base.html" %}

{% block title %}Operation {{ operation }}{% endblock %}

{% block header%}{{ operation }}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<div class="form-group" align="left">
					<form action="{% url 'rm:operation_restore' operation.pk %}">
						<button class="btn btn-success" type="submit">
							<i class="fa fa-share-square-o"></i>
							Restore
						</button>
					</form>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group" align="left">
					<form action="{% url 'rm:operation_delete' operation.pk %}">
						<button class="btn btn-danger" type="submit">
							<i class="fa fa-remove"></i>
							Delete
						</button>
					</form>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group" align="left">
					<form action="{% url 'rm:operations' %}">
						<button class="btn btn-default" type="submit">
							<i class="fa fa-arrow-left"></i>
							Back
						</button>
					</form>
				</div>
			</div>
		</div>
		<table class="table table-hover table-condensed" align="center">
			<tr>
				<th>Files</th>
				<th>Size</th>
			</tr>
			{% for file in operation.get_files %}
				<tr>
					<td>{{ file.oldpath }}</td>
					<td>{{ file.size|filesizeformat }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}