{% extends "rm/base.html" %}

{% block title %}Trashes{% endblock %}

{% block header%}Trashes{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<div class="form-group" align="left">
					<form action="{% url 'rm:trash_create' %}">
						<button class="btn btn-success" type="submit">
							<i class="fa fa-plus-circle"></i>
							New trash
						</button>
					</form>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group" align="left">
					<form action="{% url 'rm:operation_create' %}">
						<button class="btn btn-success" type="submit">
							<i class="fa fa-plus-circle"></i>
							New operation
						</button>
					</form>
				</div>
			</div>
		</div>
		<table class="table table-hover table-condensed" align="center">
			<tr>
				<th>Name</th>
				<th>Path</th>
				<th>Operations</th>
				<th>Files</th>
				<th>Size</th>
				<th>Maxtime</th>
				<th>Create time</th>
			</tr>
			{% for trash in trashes %}
				<tr>
					<td><a href="{% url 'rm:trash_detail' trash.pk %}">{{ trash }}</a></td>
					<td>{{ trash.path }}</td>
					<td>{{ trash.operation_set.all|length }}</td>
					<td>
						{{ trash.get_smartrm2_trash.get_trashfiles|length }}
						{% if trash.maxnumber %}
							/ {{ trash.maxnumber }}
						{% endif %}
					</td>
					<td>
						{{ trash.get_smartrm2_trash.get_size_of_trash|filesizeformat }}
						{% if trash.maxsize %}
							/ {{ trash.maxsize|filesizeformat }}
						{% endif %}
					</td>
					<td>
						{% if trash.maxtime %}
							{{ trash.maxtime }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>{{ trash.create_time }}</td>
					<!--
					<td>
						<form action="{% url 'rm:trash_clear' %}" method="post">
							{% csrf_token %}
							<button class="btn btn-link" name="pk" value={{ trash.pk }} type="submit">
								<i class="fa fa-check"></i>
							</button>
						</form>
					</td>
					<td>
						<form action="{% url 'rm:trash_delete' %}" method="post">
							{% csrf_token %}
							<button class="btn btn-link" name="pk" value={{ trash.pk }} type="submit">
								<i class="fa fa-check"></i>
							</button>
						</form>
					</td>
					-->
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}